@font-face
    font-family kaushan
    src url( 'fonts/kaushan_script-webfont.woff' ),
        url( 'fonts/kaushan_script-webfont.woff2' ) 

@font-face
    font-family blackJack
    src url( 'fonts/black_jack-webfont.woff' ),
        url( 'fonts/black_jack-webfont.woff2' ) 

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff2' ) 
    font-style: BoldItalic

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_bold-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2' ) 
    font-style: Bold

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_light-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_light-webfont.woff2' ) 
    font-style: Light

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff2' ) 
    font-style: RegulatItalic

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_regular-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2' ) 
    font-style: Regular

@font-face
    font-family proximaNova
    src url( 'fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff' ),
        url( 'fonts/bebas___-webfont.woff2' ) 
    font-style: SemiBoldItalic