@font-face
    font-family kaushan
    src url( 'fonts/kaushan_script-webfont.woff' ),
        url( 'fonts/kaushan_script-webfont.woff2' ) 

@font-face
    font-family blackJack
    src url( 'fonts/black_jack-webfont.woff' ),
        url( 'fonts/black_jack-webfont.woff2' ) 

@font-face
    font-family proximaNovaBoldItalic
    src url( 'fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff2' ) 

@font-face
    font-family proximaNovaBold
    src url( 'fonts/mark_simonson_-_proxima_nova_bold-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2' )

@font-face
    font-family proximaNovaLight
    src url( 'fonts/mark_simonson_-_proxima_nova_light-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_light-webfont.woff2' )

@font-face
    font-family proximaNovaItalic
    src url( 'fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff2' )

@font-face
    font-family proximaNovaRegular
    src url( 'fonts/mark_simonson_-_proxima_nova_regular-webfont.woff' ),
        url( 'fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2' )

@font-face
    font-family proximaNovaSemiBoldItalic
    src url( 'fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff' ),
        url( 'fonts/bebas___-webfont.woff2' )