// Fonts
fontLogo = kaushan
fontMainTitle = blackJack

fontRegular = proximaNovaRegular
fontBold = proximaNovaBold
fontBoldItalic = proximaNovaBoldItalic
fontLight = proximaNovaLight
fontItaic = proximaNovaItalic 
fontSemiBoldItalic = proximaNovaSemiBoldItalic

mainFont = fontRegular, sans-serif, Arial

// Colors 
primaryLightGrey = #f4f4f4
primaryGrey = #7e7e7e
primaryDarkGrey = #545454
primaryDarkGreyNB = #474e5d

primaryBlue = #4eacdd
primaryGreen = #14af8f
primaryMagento = #ea4c89
primaryLightRed = #f3787a

fontMainColor = primaryGrey
fontTitleColor = primaryDarkGrey