.footer
    padding: 2.750em 0
    @media screen and (orientation: portrait) and (max-width: 345px)
        padding: 1.75em 0
.footer__copy
    font-size: .813em
    text-align: center
.footer__nd 
    color: primaryGreen
.footer__text
    font-family: fontItalic