.nav
    position: fixed
    top: 0
    left: 0
    z-index: 999999
    display: none
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    background: rgba(primaryLightRed,.7)
    &.active
        display: flex
.nav__list
    width: 100%
    max-width: 16.250em
.nav__row
    display: flex
    align-items: center
    .fa
        font-size: 1.125em
        line-height: 3.125em
        color: primaryBlue
    &:not(:last-child)
        margin-bottom: 1.375em
.nav__box
    width: 3.125em
    height: 3.125em
    text-align: center
    background: #fff
    border-radius: 50%
.nav__link
    display: inline-block
    padding-left: 1.375em
    font: 1.125em / 1 fontBoldItalic
    color: #fff
.nav__close
    buttonReset()
    position: absolute
    top: 4.1%;
    right: 12.9%;
    color: #fff
    cursor: pointer
    .fa
        font-size: 2em