.hero
    background: primaryBlue url('images/content/hero/hero_bg.png') no-repeat center / cover
.hero__rows
    display: flex
    flex-direction: column
    justify-content: center
    height: 100vh
.hero__row
    min-height: 40.625em
    padding: 7.5em 0
.hero__col
    padding: 3em 0
    text-align: right
    color: #fff
.hero__title
    margin-bottom: .571em
    font: 4.375em / 1 fontMainTitle 
.hero__text
    margin-bottom: 50px
    font: 2.188em / 1 fontLight
    .hero__nb
        font-family: fontBoldItalic
.hero__pic
    position: absolute
    bottom: -33%
    left: 18.5%
    width: 18.1%
.about
    background-color: primaryLightGrey
.about__rows
    @extend .hero__rows
.about__row
    @extend .hero__row
    display: flex
    justify-content: flex-start
.about__col
    max-width 35em
    padding: 1.250em 0
.about__title
    margin-bottom: .650em
.about__text
    margin-bottom: 1.438em 
.about__nb
    padding-left: 1em
    margin-bottom: 4.125em
    font-family: fontItalic
    border-left: .375em solid primaryBlue 
.about__pic
    position: absolute
    right: -5.5%
    bottom: -12%
    z-index: -1
    width: 32.3%
.port__rows
    @extend .hero__rows
.port__row
    @extend .hero__row
    display: flex
    justify-content: flex-end
    padding: 6.063em 0
.port__col
    max-width: 25.625em
    padding-left: 1em
.port__title
    margin-bottom: .8em
.port__nb
    margin-bottom: 1.5em
    font-family: fontSemiBoldItalic
    color: primaryDarkGreyNB
.port__text
    margin-bottom: 3.375em
.port__pic
    position: absolute
    left: -6.3%
    bottom: -9.5%    
    z-index: -1
    width: 66.5%
.donate
    padding: 5.688em 0 6.188em 0
    text-align: center
    background: primaryGreen url('images/content/donate/bgGreen.png') no-repeat center / cover
.donate__title
    margin-bottom: .8em
    letter-spacing: .025em
    color: #fff
.cont
    background-color: primaryLightGrey
.cont__rows
    @extend .hero__rows
.cont__list
    margin-bottom: 4.4em
    text-align: center
.cont__item
    display: inline-block
    border: .188em solid primaryDarkGrey
    border-radius: 50%
    &:not(:last-child)
        margin-right: 2.188em
.cont__link
    display: block
    width: 3.125em
    height: 3.125em
    .fa
        font-size: 1.5em
        line-height: 2.083em
        color: primaryDarkGrey