.about
    background-color: primaryLightGrey
.about__col
    max-width 560px
.about__nb
    padding-left: 16px
    margin: 33px 0 70px 0
    font-family: fontItalic
    border-left: 6px solid primaryBlue 
.donate
    padding: 100px 0
    text-align: center
    background: primaryGreen url('images/content/donate/bgGreen.png') no-repeat center / cover
.donate__title
    color: #fff
.cont
    background-color: primaryLightGrey
.cont__list
    margin-bottom: 67px
    text-align: center
.cont__item
    display: inline-block
    border: 3px solid primaryDarkGrey
    border-radius: 50%
    &:not(:last-child)
        margin-right: 35px
.cont__link
    display: block
    width: 56px
    height: 56px
    .fa
        font-size: 24px
        line-height: 56px
        color: primaryDarkGrey