header.header
    article.container
        .header__row
            .header__col
                h2.logo
                    span p
            .header__col
                button(type="button").menu
                    span.menu__bar
                    span.menu__bar
                    span.menu__bar
                    span.menu__bar