// Navigator
nav.nav
    ul.nav__list

        // Home
        li.nav__row
            .nav__col
                .nav__box
                    <i class="fa fa-home" aria-hidden="true"></i>
            .nav__col
                a(href="javascript:void(0);").nav__link home
        // Home end

        // About me
        li.nav__row
            .nav__col
                .nav__box
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
            .nav__col
                a(href="javascript:void(0);").nav__link about me 
        // About me end
        
        // Portfolio
        li.nav__row
            .nav__col
                .nav__box
                    <i class="fa fa-desktop" aria-hidden="true"></i>
            .nav__col
                a(href="javascript:void(0);").nav__link portfolio
        // Portfolio end                
        
        // Drop me a line
        li.nav__row
            .nav__col
                .nav__box
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
            .nav__col
                a(href="javascript:void(0);").nav__link drop me a line
        // Drop me a line end
// Navigator end

