.btn__transparent
    display: inline-block
    height: 57px
    padding: 0 36px
    text-transform: uppercase
    color: #fff
    border-radius: 2px
    & > span   
        line-height: 57px
    .btn__nb
        font-family: fontBoldItalic
    .fa
        margin-left: 16px
    &.btn__transparent_color_white
        color: #fff
        border: 2px solid #fff
    &.btn__transparent_color_green
        color: primaryGreen
        border: 2px solid primaryGreen 
.btn__submit
    buttonReset()
    cursor: pointer