.btn__transparent
    display: inline-block
    height: 4.071em
    padding: 0 2.214em
    font-size: .875em
    text-transform: uppercase
    color: #fff
    border-radius: .143em
    @media screen and (orientation: portrait) and (max-width: 480px)
        font-size: 1.1em
    @media screen and (orientation: portrait) and (max-width: 345px)
        font-size: .9em
    & > span   
        line-height: 3.786em
        @media screen and (orientation: portrait) and (max-width: 480px)
            line-height: 3.8em
    .btn__nb
        font-family: fontBoldItalic
    .fa
        margin-left: .714em
    &.btn__transparent_color_white
        color: #fff
        border: .143em solid #fff
    &.btn__transparent_color_green
        color: primaryGreen
        border: .143em solid primaryGreen 
    &.btn__transparent_color_magento
        color: primaryMagento
        border: .143em solid primaryMagento 
.btn__submit
    buttonReset()
    cursor: pointer