.form
    font-family: fontSemiBoldItalic
    text-align: center
.form__label 
    color: primaryDarkGrey
.form__input
    padding: 12px 48px 12px 20px
    margin-left: 26px
    border: none 
    border-radius: 10px
    outline-color: primaryGreen
    &::-webkit-input-placeholder
        opacity: .3
    &::-moz-placeholder
        opacity: .3
    &:-ms-input-placeholder 
        opacity: .3
    &:-moz-placeholder
        opacity: .3
    &:focus + .form__submit
        .fa
            color: primaryBlue
.form__submit
    margin-left: -36px