.form
    font-family: fontSemiBoldItalic
    text-align: center
.form__label 
    font-size: 1.063em
    color: primaryDarkGrey
.form__input
    padding: .750em 3em .750em 1.250em
    margin-left: 1.625em
    border: none 
    border-radius: .625em
    outline-color: primaryGreen
    &::-webkit-input-placeholder
        opacity: .3
    &::-moz-placeholder
        opacity: .3
    &:-ms-input-placeholder 
        opacity: .3
    &:-moz-placeholder
        opacity: .3
    &:focus + .form__submit
        .fa
            color: primaryBlue
.form__submit
    margin-left: -2.250em