.logo
    position: relative
    width: 4.167em
    height: 4.167em
    text-align: center
    background-color: #fff
    @media screen and (orientation: landscape) and (max-width: 600px)
        width: 3.5em
        height: 3.5em
    span 
        font: 2.083em / 1.4em fontLogo
        color: primaryBlue
        @media screen and (orientation: landscape) and (max-width: 600px)
            line-height: 1em
    &::after
        shadow = #0da9e5

        position: absolute
        top: .625em
        left: .625em
        z-index: -1
        width: 100%
        height: 100%
        background: rgba(shadow,.7)
        content: ''