.menu
    buttonReset()
    margin: .5em 0
    span
        display: block
        width: 1.875em 
        height: .250em
        background-color: #fff
        border-radius: .313em
        cursor: pointer
        &:not(last-child)
            margin-bottom: .125em